html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: auto;
}
 .nav-bar{
     /*width:23%;*/
     /*min-width: 23%;*/
     overflow: hidden;
     padding:15px;
 }
 #main{
     height: 85%;
     /*width:100%;*/
/*      transition:width .5s ease-in-out; */
 }
 #expand-btn{
/*     transition:transform .5s linear; */
 }
 #main{
     /*width:100%;*/
/*      transition:width .5s linear; */
 }
 .rotate{
     transform: rotate(180deg);
 }
 .shrink{
    max-width: 85px;
    /*width:85px;*/
        /*padding: 0px;*/
 }
 /*.force-max{*/
 /*    min-width: 100%;*/
 /*}*/

 .hide{
     display:none;
 }
 .bigger{
     height:70px;
 }

.navbar-colors {
    background: #f8f8f8;
    font-size: 18px;
    line-height: 1.42857143;
    color: #333;
}
a{
    color:black;
}
a:hover{
    /*color:#2e6da4;*/
    color:black;
}
#logoandburger{
    height:62px;
}
.link-container{
     height:50px;
}
.link-container:hover{
    cursor: pointer;
    border-bottom: 1px solid black;
    font-size: large;
    cursor: pointer;
}
.link-section-text-center{
    margin-left: -20%;
}
@media only screen and (max-width: 600px) {
    #main {
        width:100%;
    }
    #navigation-bar{
        width:100%;
        display: none;
    }
    #page-btn{
        display:block;
    }
}
@media only screen and (min-width: 601px) {
    #main {
        width:100%;
    }
    #navigation-bar{
        width:23%;
        display: flex;
    }
    #page-btn{
        display:none;
    }

}




