{% extends "base.html" %}
{% block title %}Matched Jobs{% endblock %}
{% load crispy_forms_filters %}
{% block search %}
     <input type="search" id="form1" class="form-control" placeholder= "Search Jobs..." >
{% endblock %}
{% block content %}
    <div class="w-100">
        <div class="w-100 p-1 d-flex align-items-center border-bottom "
        style="overflow:hidden">
    {#        Filters:#}
            <div id="tags" class="w-100 d-flex flex-row "
            style="overflow:auto">
                <h5 class="btn btn-dark fields mr-3 filter">All</h5>
                {% for field in fields %}
                    <h5 class="btn btn-light fields mr-3 filter">{{ field.1 }} </h5>
                {% endfor %}
            </div>
        </div>
        {% block jobs %}
            <div class="w-100 h-100 d-flex flex-column">
                {% for job in jobs %}
                    <div class="jobs p-2 d-flex flex-column border-bottom job-div">
                        <h4> <strong>{{ job.position.title }}</strong></h4>
                        <h5> {{ job.company.title }}</h5>
                        <h5>Expected Salary: ${{ job.expected_salary }}</h5>
                        <div class="p-1 d-flex flex-row">
                            {% for field in job.interests %}
                                <h6 class="mr-1 btn btn-info ">{{ field }}</h6>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    </div>
{% endblock %}