{% extends 'base.html' %}
{% block title %} Profile {% endblock %}
{% load crispy_forms_filters %}
{% block content %}

    <div class="h-100 w-100 d-flex flex-column" style="overflow: auto">
        <form id="profile-form" class="w-100 h-100 shadow" method="POST" enctype ="multipart/form-data">
            {% csrf_token %}
            <div id="profile-container">
                <div id="img-div" class="border-right d-flex flex-column justify-content-center align-items-center">
                    {%if profile_user.profile.profile_pic %}
                        <img class="rounded-circle" src="https://matched-umb.s3.amazonaws.com/media/{{ profile_user.profile.profile_pic}}" height="150" width="150" style="border:3px solid black;">
                    {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-circle " viewBox="0 0 16 16">
                          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                    {% endif %}
                    <strong>{{ profile_user.username }}</strong>
{#                    <p class="text-muted">Last login: {{ user.last_login }}</p>#}
                    <p class="text-muted">Date Joined: {{ profile_user.date_joined }}</p>
                     {% if profile_user.id == user.id %}
                        <a class="bold-link shadow-sm rounded text-center w-100 alert-warning p-2" href="/personal-story/">
                            View Success Story
                        </a>
                        <a class="bold-link shadow-sm rounded text-center w-100 alert-warning p-2 mt-2" href="/jobs/saved/">
                            View saved Jobs
                        </a>
                    {% endif %}
                </div>
                <div id="profile-section" class="shadow border-right d-flex flex-column">
                    <h3 class="pb-3 mb-3 border-bottom font-weight-bold">Profile</h3>
                    <div class="w-100 d-flex flex-row ">
                       <div class="w-100 mb-3 d-flex flex-row justify-content-between">
                            <div class="d-flex flex-column" style="width: 45%;">
                                <label>First Name</label>
                                <input class="form-control" type="text" value="{{ profile_user.first_name }}" name="first_name">
                            </div>
                           <div class="d-flex flex-column" style="width: 45%;">
                                <label>Last Name</label>
                                <input class="form-control" type="text" value="{{ profile_user.last_name }}" name="last_name">
                            </div>
                       </div>
                    </div>
                    <div class="w-100 mb-3 d-flex flex-column" >
                        <label>Username</label>
                        <input class="form-control" type="text" value="{{ profile_user.username }}" name="username">
                    </div>
                    <div class="w-100  mb-3 d-flex flex-column" >
                        <label>Email</label>
                        <input class="form-control" type="text" value="{{ profile_user.email }}" name="username">
                    </div>
{#                    <div class="w-100 mb-3 d-flex flex-column" >#}
{#                        <label>Date of birth</label>#}
{#                        <input class="form-control" type="date" value="1985-08-19" name="birthday">#}
{#                    </div>#}
                    <div class="w-100 mb-3 d-flex flex-column" >
                        <label>Sport</label>
                        <input class="form-control" type="text" value="{{ profile_user.profile.sport }}" name="sport">
                    </div>
                    <div class="w-100 mb-3 d-flex flex-column" style="width: 45%;">
                        <label for="education">Education</label>
                        <select id="education" name="education" class="form-control form-select">
                          {% for ed in education_choices %}
                            {% if ed.0 == profile_user.profile.education %}
                                 <option value={{ ed.0 }} selected>{{ ed.1 }}</option>
                            {% else %}
                                <option value={{ ed.0 }}>{{ ed.1 }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                    </div>
                    <div class="p-2 w-100 mb-3 d-flex flex-row justify-content-between">
                        <label class="w-50" name="interest" class="form-control">Fields of Interests</label>
                        <div id="fields-div" class="w-50 form-group d-flex flex-column">

                        </div>
                    </div>
                    <div class="p-2 w-100 mb-3 d-flex flex-row justify-content-between">
                        <label class="w-50" name="cities" class="form-control">Preferred Locations</label>
                        <div id="cities-div" class="w-50 form-group d-flex flex-column">

                        </div>
                    </div>
                    <div class="w-100 mb-3 d-flex flex-column justify-content-between">
                        <label>Resume</label>
                        <a class="form-control" href="https://matched-umb.s3.amazonaws.com/media/{{ profile_user.profile.resume }}"target="_blank"
                            style="overflow: hidden;">
                            {{profile_user.profile.resume}}
                        </a>
                    </div>
                </div>
{#                this should stop opeple from being able to chnage other user's data#}
                {% if profile_user.id == user.id %}
                <div id="upload-section" class="pr-0 d-flex flex-column" >
                    <h5>Upload Files</h5>
                    <form action="/profile/{{ profile_user.username }}/" method="POST"  enctype ="multipart/form-data">
                         {% csrf_token %}
                        {{ form | crispy}}
                        <div class ="w-100 h-75 d-flex justify-content-end align-items-end">
                            <input type="submit" class=" shadow-sm bold-link w-100 btn alert-primary" value="Save">
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        </form>
    </div>
    <script>

        function handleTags() {
            {#grabbing data from the view#}
            let fields = JSON.parse("{{fields|escapejs}}");
            let userInterests = JSON.parse("{{ user_interests|escapejs }}");
            console.log(fields);
            console.log(userInterests);
            let fieldsdiv = document.getElementById("fields-div");
            for (let i = 0; i < fields.length; i++) {
                let checked = false
                for (let z = 0; z < userInterests.length; z++) {
                    if (fields[i][0] == userInterests[z]) {
                        checked = true;
                        break;
                    }
                }
                let input = document.createElement("input");
                input.id = fields[i][0];
                input.type = "checkbox";
                input.name = "tags";
                input.value = fields[i][0];
                input.checked = checked;
                input.classList.add("mr-1");

                let label = document.createElement("label");
                label.setAttribute("for", input.id);
                label.innerHTML = fields[i][1];

                let inputAndLabelDiv = document.createElement("div");
                inputAndLabelDiv.appendChild(input);
                inputAndLabelDiv.appendChild(label);

                fieldsdiv.appendChild(inputAndLabelDiv);
            }
        }
        function handleCities(){
                {#getting the cities#}
            let cities  =  JSON.parse("{{all_cities|escapejs}}");
            let userCities = JSON.parse("{{ user_locations|escapejs }}");
            console.log(cities);
            console.log(userCities);
            let citiesDiv = document.getElementById("cities-div");
            for(let i=0;i < cities.length;i++) {
                let checked = false
                for (let z = 0; z < userCities.length; z++) {
                    if (cities[i][0] == userCities[z]) {
                        checked = true;
                        break;
                    }
                }
                let input = document.createElement("input");
                input.id = cities[i][0];
                input.type = "checkbox";
                input.name = "cities";
                input.value = cities[i][0];
                input.checked = checked;
                input.classList.add("mr-1");

                let label = document.createElement("label");
                label.setAttribute("for", input.id);
                label.innerHTML = cities[i][1];

                let inputAndLabelDiv = document.createElement("div");
                inputAndLabelDiv.appendChild(input);
                inputAndLabelDiv.appendChild(label);

                citiesDiv.appendChild(inputAndLabelDiv);
            }
        }
        handleTags();
        handleCities();
    </script>
{% endblock %}
