{% extends 'base.html' %}
{% block content %}
<div class="w-100 h-100 d-flex justify-content-center align-items-center " style="overflow: auto">
    <div class="d-flex flex-column flex-md-row  align-items-center" style="height:95%;">
        <div class="card resource border p-2 bg-light mr-3 mb-2"
             style="width:35%; min-width: 300px; height: 281px; min-height:281px;">
            <a class ="w-100 h-100" href="https://www.resume.com/" target="_blank" style="text-decoration: none;">
                <img src="/static/images/resume-logo.png" class="card-img-top w-100" style="height: 90%;">
                <div class="card-block w-100 text-center">
                    <h4 class="card-title">Resume Builder</h4>
                </div>
            </a>
        </div>
        <div class="card resource border p-2 bg-light mr-2 mb-2"
             style="width:35%; min-width: 300px; height: 281px;min-height:281px;  ">
            <a class ="w-100 h-100" href="https://zety.com/cover-letter-builder" target="_blank" style="text-decoration: none;">
                <img src="/static/images/Cover Letter.png" class="card-img-top w-100" style="height: 90%;">
                <div class="card-block w-100 text-center">
                    <h4 class="card-title">Cover Letter</h4>
                </div>
            </a>
        </div>
    </div>
</div>
    <script>
      items= Array.from(document.getElementsByClassName("resource"));
    items.forEach(item =>{
        item.addEventListener("mouseenter", function (event){
            item.classList.remove("bg-light");
            item.classList.add("shadow-lg");
        })
        item.addEventListener("mouseleave", function (event){
            item.classList.add("bg-light");
            item.classList.remove("shadow-lg");

        })
    })
    </script>
{% endblock %}