{% extends 'base.html' %}
{% block content %}

    <div class="container overflow-auto" >
        <div class="row overflow-auto">
            <div class="col-md-6 col-lg-5">
                <div class="card">
                    <a href="https://www.resume.com/" target="_blank">
                    <img src="/static/images/resume-logo.png" class="card-img-top w-100 h-75">
                    <div class="card-block">
                        <h3 class="card-title">Resume Builder</h3>
                        </a>
                    </div>
                </div>
            </div>
        <div class="col-md-6 col-lg-5">
                <div class="card">
                    <a href="https://zety.com/cover-letter-builder" target="_blank">
                    <img src="/static/images/Cover Letter.png" class="card-img-top">
                    <div class="card-block">
                        <h3 class="card-title">Cover Letter Builder</h3>
                        </a>
                    </div>
                </div>
            </div>
</div>



<!--<div>-->
<!--     <div class="container2" >-->
<!--        <div class="row overflow-auto">-->
<!--            <div class="col-md-6 col-lg-5">-->
<!--                <div class="card">-->
<!--                    <a href="https://www.resume.com/" target="_blank">-->
<!--                    <img src="/static/images/resume-logo.png" class="card-img-top">-->
<!--                    <div class="card-block">-->
<!--                        <h3 class="card-title">Resume Builder</h3>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        <div class="col-md-6 col-lg-5">-->
<!--                <div class="card">-->
<!--                    <a href="https://www.resume.com/" target="_blank">-->
<!--                    <img src="/static/images/Cover Letter.png" class="card-img-top">-->
<!--                    <div class="card-block">-->
<!--                        <h3 class="card-title">Cover Letter Builder</h3>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


<!--    </div>-->



{% endblock %}